html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 2rem;
    text-align: center;
}

input, button, textarea, select {
    font: inherit;
}

h1, h2, h3, h4, h5 {
    font-size: inherit;
    font-weight: inherit;
  }

.main-container {
    padding: 50px 75px;
    display: grid;
    justify-items: center;
    gap: 30px;
}

h1 {
    font-size: 2.6rem;
}

.new-book-button {
    font-size: 1.8rem;
    padding: 5px 18px;
    border: 1px solid gray;
    border-radius: 12px;
}

#addBookDialog {
    padding: 40px 25px 30px 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#addBookDialog > form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}

#addBookDialog > form > p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

#addBookDialog > form > p > input,
#addBookDialog > form > p > select {
    width: 60%;
}

#addBookDialog > form > p > label {
    width: 40%;
}

#addBookDialog > form > p > input {
    padding: 5px;
    border: 1px solid black;
}

#addBookDialog > form > p > select {
    padding: 5px 0px 5px 1px;
    border: 1px solid black;
    background-color: white;
}

#addBookDialog form > div {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

#addBookDialog form > div > button {
    padding: 5px 35px;
    border: 1px solid gray;
    border-radius: 12px;
    font-size: 1.8rem;
}


.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.card {
    height: 300px;
    width: 200px;
    border: 1px solid black;
    border-radius: 8px;
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr repeat(3, min-content);
    padding: 20px;
    gap: 15px;
    position: relative;
}

.card > .title {
    align-self: center;
    font-size: 2.3rem;
}

.card > p {
    font-size: 1.8rem;
}

.remove-button {
    visibility: hidden;
    font-size: 1.5rem;
    padding: 2px 8px;
    border-radius: 8px;
    border: 1px solid gray;
    position: absolute;
    top: 25px;
}

.card:hover {
    button {
        visibility: visible;
    }
}